:root {
  --main-bg-color: #f2f2f2; /* 밝은 회색을 메인 배경으로 사용 */
  --secondary-bg-color: #bfbfbf; /* 중간 회색을 세컨더리 배경으로 */
  --primary-highlight-color: #595959; /* 어두운 회색을 주요 강조 색상으로 */
  --secondary-highlight-color: #8c8c8c; /* 보조 강조 색상으로 어두운 회색 */
  --alert-color: #de525e; /* 강조 색상 유지 */
  --header-footer-color: #0d0d0d; /* 헤더와 푸터에 검정에 가까운 색상 */
  --font-color: #ffffff; /* 폰트 색상을 흰색으로 */
  --font-color2: #0d0d0d; /* 폰트 색상을 매우 어두운 색상으로 */
}
