@charset "utf-8";

/* basic-N48 [qAlwD8xwD2] */
.basic-N48 {
  overflow: hidden;
}
.basic-N48 .contents-inner {
  padding: 8rem 1.6rem;
}
.basic-N48 .contents-container {
  position: relative;
}
.basic-N48 .imageset {
  width: calc(100% + 48rem);
  height: 280px;
  margin-left: -24rem;
  border-radius: 2rem;
  overflow: hidden;
}
.basic-N48 .textset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  width: calc(100% - 4.8rem);
  text-align: center;
}
.basic-N48 .textset-tit {
  font-size: var(--fs-h3);
  line-height: var(--lh-h4);
  font-weight: 500;
  color: #fff;
}
.basic-N48 .textset-tit2 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h4);
  font-weight: 500;
  color: #fff;
}

@media (max-width: 992px) {
  .basic-N48 .contents-inner {
    padding: 5rem 1.6rem;
  }
  .basic-N48 .imageset {
    width: 100%;
    margin-left: 0;
    height: 280px;
  }
}
