.grid {
	display: grid;
	padding: 20px 20px 80px 20px;
	height: 100%;
	margin: 20px;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	overflow: hidden;
}

.grid li {
	display: grid;
	width: 100%;
	padding: 20px;
	margin: 0;
	text-align: left;
	position: relative;
	background-color: #111;
	border-radius: 10px;
}

.grid figure {
	display: block;
	position: absolute;
	position: relative;
}

.image_ratio {
	display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
	justify-content: center;
}

.grid figure img {
	width: 35%;
	display: block;
	position: relative;
	filter: invert(100%);
}

.grid figcaption {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #000;
	color: #111;
	align-items: center;
}

.grid figcaption h3 {
	margin: 0;
	padding: 5px 10px;
	width: 70%;
	color: #fff;
}

.grid figcaption a {
	width: 30%;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #222;
	color: #fff;
}

.hover-img figure {
	overflow: hidden;
}

.hover-img figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .hover-img figure:hover img,
.hover-img figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.hover-img figcaption {
	height: 80px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .hover-img figure:hover figcaption,
.hover-img figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.hover-img figcaption a {
	position: absolute;
	/* bottom: 20px; */
	right: 20px;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
