@charset "utf-8";

/* basic-N2 [gVLWD9F323] */
.basic-N2 {
  position: relative;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: 0.3s;
  background-color: var(--white);
}
.basic-N2.header-top-active {
  position: fixed;
  top: 0;
}
.basic-N2 .header-inner {
  position: relative;
  width: 100%;
  height: 8rem;
  background-color: var(--white);
}
.basic-N2 .header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 2.4rem 8rem;
}
.basic-N2 .header-title a {
  width: 10.6rem;
  height: 3.3rem;
}
.basic-N2 .header-title img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.basic-N2 .header-mobile-top {
  display: none;
}
.basic-N2 .header-gnblist {
  display: flex;
}
.basic-N2 .header-gnbitem:hover .header-gnblink span::after,
.basic-N2 .header-gnbitem.item-active .header-gnblink span::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--primary);
  transform: scaleX(1);
}
.basic-N2 .header-gnblink {
  padding: 0 3rem;
  font-size: var(--fs-p3);
  line-height: var(--lh-p3);
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
.basic-N2 .header-gnbitem:last-child .header-gnblink {
  padding-right: 0;
}
.basic-N2 .header-gnblink span {
  position: relative;
}
.basic-N2 .header-gnblink span::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  transition: 0.3s;
  transform: scaleX(0);
}
.basic-N2 .header-utils {
  display: none;
}
.basic-N2 .header-utils button {
  width: 3.2rem;
  height: 3.2rem;
  background: none;
  border: none;
}
.basic-N2 .header-utils button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}
.basic-N2 .header-utils .btn-close {
  display: none;
  position: relative;
  z-index: 200;
}
.basic-N2 .header-utils .btn-momenu {
  display: none;
}
.basic-N2 .header-dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
}
@media (max-width: 1200px) {
  .basic-N2 .header-container {
    align-items: center;
    padding: 0 2.4rem;
  }
}
@media (max-width: 992px) {
  .basic-N2 .header-inner {
    height: 6rem;
  }
  .basic-N2 .header-inner::before {
    content: none;
  }
  .basic-N2 .header-container {
    padding: 0 1.6rem;
  }
  .basic-N2 .header-title a {
    width: 8.2rem;
    height: 2.6rem;
  }
  .basic-N2 .header-right {
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    z-index: 200;
    width: 0;
    height: 100%;
    visibility: visible;
    transform: translateX(0);
    opacity: 0;
    background-color: var(--body-bg);
    transition: 0.3s;
  }
  .basic-N2 .header-right .header-title {
    margin-bottom: 0.8rem;
    padding: 0 1.6rem;
  }
  .basic-N2 .header-gnblist {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .basic-N2 .header-gnblink {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 1.4rem 2rem;
    font-size: var(--fs-p3);
    text-align: left;
  }
  .basic-N2 .header-gnbitem:hover,
  .basic-N2 .header-gnbitem.item-active {
    background-color: var(--highlight-bg);
  }
  .basic-N2 .header-gnbitem:hover .header-gnblink span {
    border: none;
  }
  .basic-N2 .header-gnbitem:hover .header-gnblink span::after,
  .basic-N2 .header-gnbitem.item-active .header-gnblink span::after {
    content: none;
  }
  .basic-N2 .header-utils {
    display: flex;
  }
  .basic-N2 .header-utils button {
    width: 2.8rem;
    height: 2.8rem;
  }
  .basic-N2 .header-utils .btn-momenu {
    display: block;
  }
  .basic-N2.momenu-active .header-right {
    right: 0;
    width: calc(100% - 10rem);
    opacity: 1;
    visibility: visible;
  }
  .basic-N2.momenu-active .header-title {
    height: 6rem;
    display: flex;
    align-items: center;
  }
  .basic-N2.momenu-active .header-utils .btn-momenu {
    display: none;
  }
  .basic-N2.momenu-active .header-utils .btn-close {
    display: block;
  }
  .basic-N2.momenu-active .header-gnblist {
    display: block;
  }
  .basic-N2.momenu-active .header-gnbitem.item-active .header-gnblink::after {
    content: "";
    transform: rotate(180deg);
  }
  .basic-N2.momenu-active .header-lang {
    display: none;
  }
}

/* basic-N32 [gtLWD90mtX] */
.basic-N32 {
  overflow: hidden;
}
.basic-N32 .contents-inner {
  padding: 8rem 1.6rem;
  background-color: #111111;
  border-radius: 10px;
}
.basic-N32 .contents-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basic-N32 .imageset {
  align-self: flex-start;
  width: calc(50% + 26rem);
  height: 64rem;
  margin-left: -32rem;
  border-radius: 0 2rem 2rem 0;
}
.basic-N32 .textset {
  width: 50%;
  margin-left: 4rem;
  margin-bottom: 0;
}
.basic-N32 .textset-tit + .textset-desc {
  margin-top: 4rem;
}
@media (max-width: 992px) {
  .basic-N32 .contents-inner {
    padding: 5rem 1.6rem;
  }
  .basic-N32 .contents-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .basic-N32 .imageset {
    width: calc(100% + 1.6rem);
    height: 56rem;
    margin-left: -1.6rem;
  }
  .basic-N32 .textset {
    width: 100%;
    margin-top: 8rem;
    margin-left: 0;
  }
}

/* basic-N14 [AtlWD9AJUr] */
.basic-N14 {
  overflow: hidden;
}
.basic-N14 .contents-inner {
  padding: 8rem 1.6rem;
  background-color: #111111;
  border-radius: 10px;
}
.basic-N14 .textset {
  margin-bottom: 5rem;
  text-align: center;
}
.basic-N14 .contents-group {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16rem);
  margin-left: -8rem;
}
.basic-N14 .cardset {
  width: calc(100% / 4);
  padding: 5rem 8rem;
}
.basic-N14 .cardset-figure {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.basic-N14 .cardset-figure + .cardset-body {
  margin-top: 2.4rem;
  text-align: center;
}
.basic-N14 .cardset-desc {
  margin-top: 1.5rem;
  letter-spacing: -0.1rem;
}
@media (max-width: 992px) {
  .basic-N14 .contents-inner {
    padding: 8rem 1.6rem;
  }
  .basic-N14 .textset {
    margin-bottom: 4rem;
  }

  .basic-N14 .contents-group {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
  }
  .basic-N14 .cardset {
    padding: 10px;
    width: calc(33% / 1);
    margin-bottom: 5px;

  }

  .basic-N14 .cardset + .cardset {
    margin-top: 0;
  }
}

/* basic-N39 [fUlwD95u7V] */
.basic-N39 {
  overflow: hidden;
}
.basic-N39 .contents-inner {
  padding: 0 1.6rem;
}
.basic-N39 .contents-swiper {
  position: relative;
  width: calc(100% + 48rem);
  margin-left: -24rem;
  overflow: hidden;
  border-radius: 2rem;
}
.basic-N39 .swiper-wrapper {
  width: 100%;
  height: 80rem;
}
.basic-N39 .swiper-slide {
  position: relative;
}
.basic-N39 .contents-backimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.basic-N39 .contents-slide-group {
  position: absolute;
  left: 24rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.basic-N39 .textset {
  padding: 0;
  margin-bottom: 6rem;
}
.basic-N39 .textset.textset-visual .textset-tit {
  text-align: left;
}
.basic-N39 .textset-desc {
  color: var(--text-color4);
  text-align: left;
}
.basic-N39 .btnset {
  border-color: var(--white);
  color: var(--text-color5);
}
.basic-N39 .btnset:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--text-color1);
}
.basic-N39 .contents-control {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  z-index: 100;
}
.basic-N39 .swiper-button-prev,
.basic-N39 .swiper-button-next {
  position: static;
  width: 2rem;
  height: 2rem;
  margin-top: 0;
}
.basic-N39 .swiper-button-prev:after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url("../../resources/icons/ico_btnset_arrow_white_sm.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  transform: rotate(180deg);
}
.basic-N39 .swiper-button-prev:hover::after {
  opacity: 1;
}
.basic-N39 .swiper-button-next:after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url("../../resources/icons/ico_btnset_arrow_white_sm.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.basic-N39 .swiper-button-next:hover::after {
  opacity: 1;
}
.basic-N39 .swiper-pagination {
  display: flex;
  align-items: center;
  position: static;
  gap: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color4);
}
.basic-N39 .swiper-pagination-current {
  font-weight: 500;
  color: var(--text-color5);
}
.basic-N39 .swiper-button-play,
.basic-N39 .swiper-button-pause {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  cursor: pointer;
}
.basic-N39 .swiper-button-play img,
.basic-N39 .swiper-button-pause img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}
.basic-N39 .swiper-button-play:hover,
.basic-N39 .swiper-button-pause:hover {
  opacity: 1;
}
.basic-N39 .swiper-button-play {
  display: none;
}
@media (max-width: 992px) {
  .basic-N39 .contents-swiper {
    width: 100%;
    margin-left: 0;
  }
  .basic-N39 .swiper-wrapper {
    height: 60rem;
  }
  .basic-N39 .contents-slide-group {
    left: 2.4rem;
    width: calc(100% - 4.8rem);
  }
  .basic-N39 .textset {
    margin-bottom: 4rem;
  }
  .basic-N39 .textset-tit {
    font-size: 3.2rem;
  }
  .basic-N39 .contents-control {
    bottom: 2rem;
  }
}

/* basic-N46 [LVLWdH7Go1] */
.basic-N46 {
  overflow: hidden;
}
.basic-N46 .contents-inner {
  padding: 8rem 1.6rem;
  background-color: #111111;
  border-radius: 10px;
}
.basic-N46 .textset {
  text-align: center;
}
.basic-N46 .contents-group {
  display: flex;
  justify-content: space-around;
}
.basic-N46 .cardset {
  width: calc(60% / 4);
  padding: 0 4rem;
}
.basic-N46 .cardset-figure {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.basic-N46 .cardset-figure + .cardset-body {
  margin-top: 2rem;
  text-align: center;
}
.basic-N46 .cardset-desc {
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .basic-N46 .contents-inner {
    padding: 8rem 1.6rem;
  }
  .basic-N46 .contents-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .basic-N46 .cardset {
    width: calc(36% - 12.8px);
    padding: 2rem 0;
    box-sizing: border-box;
  }
  .basic-N46 .cardset + .cardset {
    margin-top: 0;
    border-left: 0;
  }
}

.basic-N46 .contents-snslink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.basic-N46 .contents-snslink img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  filter: invert(100%);
}

/* basic-N4 [pLLWd94qY2] */
.basic-N4 {
  background-color: var(--primary);
}
.basic-N4 .footer-container {
  padding: 2.4rem 13rem;
}
.basic-N4 .footer-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1.6rem;
}
.basic-N4 .footer-logo {
  text-align: center;
  margin-bottom: 0;
}
.basic-N4 .footer-logo a {
  width: 10.6rem;
  height: 3.3rem;
}
.basic-N4 .footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(100%);
}
.basic-N4 .footer-menulist {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-p4);
}
.basic-N4 .footer-menuitem a {
  padding-right: 1.2rem;
  color: var(--text-color5);
}
.basic-N4 .footer-menuitem + .footer-menuitem a {
  padding-left: 1.2rem;
}
.basic-N4 .footer-menuitem {
  position: relative;
}
.basic-N4 .footer-menuitem + .footer-menuitem::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 1.4rem;
  background-color: rgba(var(--white), 0.1);
}
.basic-N4 .footer-snslist {
  display: flex;
  align-items: center;
}
.basic-N4 .footer-snsitem + .footer-snsitem {
  margin-left: 0.8rem;
}
.basic-N4 .footer-snslink {
  width: 3.6rem;
  height: 3.6rem;
  padding: 0.6rem;
}
.basic-N4 .footer-snslink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  filter: invert(100%);
}
.basic-N4 .footer-bottom {
  padding-top: 2.4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.basic-N4 .footer-txt {
  display: flex;
  justify-content: center;
  color: var(--text-color4);
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.basic-N4 .footer-txt + .footer-txt {
  margin-top: 0.3rem;
}
.basic-N4 .footer-txt p {
  margin-bottom: 0;
  line-height: 1.8rem;
}
.basic-N4 .footer-txt p + p {
  margin-left: 0.8rem;
}
.basic-N4 .footer-txt p span + span {
  margin-left: 0.8rem;
}
@media (max-width: 992px) {
  .basic-N4 .footer-container {
    padding: 4rem 1.6rem;
  }
  .basic-N4 .footer-top {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
  }
  .basic-N4 .footer-logo a {
    width: 8.4rem;
    height: 2.6rem;
  }
  .basic-N4 .footer-menulist {
    position: relative;
    left: 0;
    transform: translate(0);
    margin-top: 1.3rem;
  }
  .basic-N4 .footer-menuitem a {
    padding-right: 0.8rem;
  }
  .basic-N4 .footer-menuitem + .footer-menuitem a {
    padding-left: 0.8rem;
  }
  .basic-N4 .footer-snslist {
    margin: 2.4rem 0 1.6rem 0;
    justify-content: center;
    align-items: center;
  }
  .basic-N4 .footer-txt {
    margin-left: 30px;
    flex-direction: column;
  }
  .basic-N4 .footer-txt p + p {
    margin-left: 0;
  }
}
